$color1: #535353;
$transition: all 0.3s ease;

body {
  margin: 0;
  padding: 0;
  background-color: #c5c5c5;
  font-family: Helvetica;
}

main {
  height: 100vh;

  .background {
    background-image: url(../img/bg.jpg);
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    filter: blur(8px) brightness(0.5);
  }
}

.card {
  width: 250px;
  position: absolute;
  top: 45%;
  left: 15%;
  transform: translateY(-50%);
  transition: $transition;

  &__head {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 12px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      border-radius: 5px;
    }

    .card__name {
      font-size: 14px;
      color: #fff;
      font-weight: 600;
      transition: $transition;
    }
  }

  &__body {
    background-color: $color1;
    height: 550px;
    overflow: hidden;
    border-radius: 24px;
    transition: $transition;
  }

  &--left {
    left: 15px;
    transform: translateY(-50%) scale(0.98);

    .card__body {
      opacity: 0.75;
    }

    .card__name {
      opacity: 0;
    }
  }

  &--right {
    left: 75%;

    .card__name {
      opacity: 0;
    }
  }

  &--instagram {
    .card__body {
      background-image: url(../img/InstaData.jpg);
      background-size: cover;
      background-position: top;
    }
  }

  &--yt {
    .card__body {
      background-image: url(../img/YoutubeData.jpg);
      background-size: cover;
      background-position: top;
    }
  }
}