$color1: #535353;
$transition: all 0.3s ease;

body {
  margin: 0;
  padding: 0;
  background-color: #c5c5c5;
  font-family: Helvetica;
}

.switch-btn {
  position: fixed;
  bottom: 10px;
  background-color: floralwhite;
  color: black;
  font-size: 10px;
  text-transform: uppercase;
  padding: 10px;
  right: 10px;
}

.view-one, .view-two {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.view-one {
  .card {
    position: absolute;
    top: 10%;
    left: 15%;
    transform: translateX(0) scale(1);

    &--left {
      transform: translateX(-18%) scale(0.98);
  
      .card__body {
        opacity: 0.75;
      }
  
      .card__name {
        opacity: 0;
      }
    }
  
    &--right {
      transform: translateX(80%);
  
      .card__name {
        opacity: 0;
      }
    }
  }
}

.view-two {
  display: none;
  white-space: nowrap;
  overflow: auto;
  padding-right: 35%;
  padding-left: 20%;
  padding-top: 15%;

  .card {
    display: inline-block;
    margin-right: -120%;
    transform: scale(1);

    &--in-view {
      margin-right: -50%;
    }

    &--size {
      &-99 {
        transform: scale(0.99);
      }

      &-98 {
        transform: scale(0.98);
      }
    }
  }
}

.background {
  background-image: url(../img/bg.jpg);
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  filter: blur(8px) brightness(0.5);
}

.alternative-version {
  .view-two {
    display: block;
  }

  .view-one {
    display: none;
  }
}

.card {
  transition: transform 0.3s ease, margin-right 0.5s ease;
  width: 70vw;

  &__head {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 12px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      border-radius: 5px;
    }

    .card__name {
      font-size: 14px;
      color: #fff;
      font-weight: 600;
      transition: $transition;
    }
  }

  &__body {
    background-color: $color1;
    height: 70vh;
    overflow: hidden;
    border-radius: 24px;
    transition: $transition;
  }

  &--instagram {
    .card__body {
      background-image: url(../img/InstaData.jpg);
      background-size: cover;
      background-position: top;
    }
  }

  &--yt {
    .card__body {
      background-image: url(../img/YoutubeData.jpg);
      background-size: cover;
      background-position: top;
    }
  }

  &--tg {
    .card__body {
      background-image: url(../img/TelegramData.jpg);
      background-size: cover;
      background-position: top;
    }
  }

  &--files {
    .card__body {
      background-image: url(../img/FIlesData.jpg);
      background-size: cover;
      background-position: top;
    }
  }


  @media screen and (orientation: landscape) {
    width: 70vw;
  }
}